[submodule "exams"]
	path = exams
	url = https://github.com/whx57/test_llm.git
[submodule "learn-cxx"]
	path = learn-cxx
	url = https://github.com/whx57/learn-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/whx57/rust-rustlings.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/whx57/learn-cxx.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = https://github.com/whx57/TinyInfiniTensor.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = https://github.com/whx57/learning-lm-rs.git
