[submodule "exams"]
	path = exams
	url = https://github.com/whx57/test_llm.git
[submodule "learn-cxx"]
	path = learn-cxx
	url = https://github.com/whx57/learn-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/whx57/rust-rustlings.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/whx57/learn-cxx.git
